/* @import "react-notifications/lib/notifications.css";
@import "./scss/css/ChangeText.css"; */

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container {
  max-width: 1200px;

  margin: 0 auto;
}

a {
  text-decoration: none;

  color: #d0021b;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.button {
  color: #e6e6e6;

  background: #0a0a0a;

  border: none;

  font-size: 16px;

  border-radius: 3px;

  width: 200px;

  text-align: center;

  display: block;

  padding: 7px 0;

  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a, #0a0a0a);

  color: #fff;

  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.avatar {
  width: 150px;

  border-radius: 50%;
}

.space-list-items {
  margin-bottom: 7px;
}

.languages {
  display: flex;

  justify-content: center;
}

.languages li {
  margin: 10px;

  font-weight: bold;

  cursor: pointer;
}

.popular-list {
  display: flex;

  flex-wrap: wrap;

  justify-content: space-around;
}

.popular-item {
  margin: 20px;

  text-align: center;
}

.popular-rank {
  font-size: 20px;

  margin: 10px;
}

.home-container {
  display: flex;

  flex-direction: column;

  align-items: center;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}

.row {
  display: flex;

  justify-content: space-around;
}

.column {
  display: flex;

  flex-direction: column;

  width: 500px;

  align-items: center;
}

.column input {
  border-radius: 3px;

  margin: 10px 0;

  padding: 5px;

  border: 1px solid rgba(0, 0, 0, 0.43);

  font-size: 16px;

  width: 80%;
}

.column label {
  text-align: center;

  font-size: 30px;

  font-weight: 200;
}

.header {
  text-align: center;

  font-size: 30px;

  font-weight: 200;
}

.reset {
  border: none;

  background: transparent;

  color: #d0021b;

  display: block;

  width: 100%;

  text-align: center;

  outline: none;
}

.reset:hover {
  cursor: pointer;
}

.react-tabs__tab-list {
  border: none !important;
}

.react-tabs__tab {
  border: none !important;
}

.react-tabs__tab--selected {
  border: none !important;
  color: #d0021b !important;
}

.input-search {
  height: 10px;
  width: 100px;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 5px;
  /* letter-spacing: 2px; */
  outline: none;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  background-color: #d0021b;
  color: rgb(71, 65, 65);
}
.input-search::placeholder {
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search:focus {
  width: 200px;
  border-radius: 10px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  outline: red solid 2px;
}

.row.add-del {
  margin-top: 70px;

  display: flex;
  justify-content: center;
  gap: 200px;
}
.row.add-del > .button {
  display: inline;
  margin: 0;
}
.add-del > button {
  width: 120px;
}
button.bat {
  background-color: #d0021b;
}
.winner {
  text-align: center;
}
